<h3>Sign In</h3>

<form
  [formGroup]="authForm"
  class="ui form"
  [ngClass]="{ loading: (isLoading$ | async) }"
  (ngSubmit)="onSubmit()"
  >
  <app-input
    label="Username"
    [control]="authForm.controls.username"
    inputType="text"
  ></app-input>
  <app-input
    label="Password"
    [control]="authForm.controls.password"
    inputType="password"
  ></app-input>

  @if (authForm.errors) {
    <div class="ui red basic label">
      @if (authForm.errors!['signinFailed']) {
        <p>
          Signin failed! Username or Password is Wrong
        </p>
      }
      @if (authForm.errors!['noConnection']) {
        <p>
          Signin failed! No internet connection
        </p>
      }
      @if (authForm.errors!['unhandledException']) {
        <p>
          Signin failed! Unhandled exception happened
        </p>
      }
    </div>
  }

  <div>
    <button class="ui submit button primary" [disabled]="disabledSubmit()">
      Submit
    </button>
  </div>
</form>
