<div class="field" [ngClass]="{ error: showErrors() }">
  <label>{{ label }}</label>

  @if (controlType === 'input') {
    <input
      [type]="inputType"
      [formControl]="control"
      />
  }

  @if (controlType === 'textarea') {
    <textarea
      [formControl]="control"
    ></textarea>
  }

  @if (showErrors()) {
    <div class="ui pointing red basic label">
      @if (control.errors!['required']) {
        <p>Value is required</p>
      }
      @if (control.errors!['email']) {
        <p>Invalid email address</p>
      }
      @if (control.errors!['pattern']) {
        <p>Invalid format</p>
      }
      @if (control.errors!['minlength']) {
        <p>
          Minimum length should be
          {{ control.errors!["minlength"].requiredLength }} characters. you entered
          {{ control.errors!["minlength"].actualLength }} characters.
        </p>
      }
      @if (control.errors!['maxlength']) {
        <p>
          Maximum length should be
          {{ control.errors!["maxlength"].requiredLength }} characters. you entered
          {{ control.errors!["maxlength"].actualLength }} characters.
        </p>
      }
      @if (control.errors!['min']) {
        <p>
          Minimum value should be
          {{ control.errors!["min"].min }}. current value is
          {{ control.errors!["min"].actual }}
        </p>
      }
      @if (control.errors!['max']) {
        <p>
          Maximum value should be
          {{ control.errors!["max"].max }}. current value is
          {{ control.errors!["max"].actual }}
        </p>
      }
      @if (control.errors!['usernameNotAvailable']) {
        <p>
          Username is not available
        </p>
      }
      @if (control.errors!['unhandledException']) {
        <p>
          Unhandled exception happened
        </p>
      }
    </div>
  }
</div>
