<div class="field">
  <label class="label">{{ label }}</label>
  <div class="control">
    <input
      [formControl]="control"
      [ngClass]="{ 'is-danger': showErrors() }"
      [mask]="mask ? mask : null"
      [leadZeroDateTime]="leadZeroDateTime ? leadZeroDateTime : null"
      [showMaskTyped]="showMaskTyped ? showMaskTyped : null"
      [specialCharacters]="specialCharacters ? specialCharacters : []"
      [shownMaskExpression]="shownMaskExpression ? shownMaskExpression : null"
      [dropSpecialCharacters]="
        dropSpecialCharacters ? dropSpecialCharacters : null
      "
      class="input"
      />
  </div>
  @if (showErrors()) {
    @if (control.errors!['required']) {
      <div class="help is-danger">
        Value is required
      </div>
    }
    @if (control.errors!['minlength']) {
      <div class="help is-danger">
        Minimum length should be
        {{ control.errors!["minlength"].requiredLength }}. Actual length is
        {{ control.errors!["minlength"].actualLength }}
      </div>
    }
    @if (control.errors!['maxlength']) {
      <div class="help is-danger">
        Maximum length should be
        {{ control.errors!["maxlength"].requiredLength }}. Actual length is
        {{ control.errors!["maxlength"].actualLength }}
      </div>
    }
    @if (control.errors!['min']) {
      <div class="help is-danger">
        Minimum value should be
        {{ control.errors!["min"].min }}. Actual value is
        {{ control.errors!["min"].actual }}
      </div>
    }
    @if (control.errors!['max']) {
      <div class="help is-danger">
        Maximum value should be
        {{ control.errors!["max"].max }}. Actual value is
        {{ control.errors!["max"].actual }}
      </div>
    }
    @if (control.errors!['pattern']) {
      <div class="help is-danger">
        Invalid format
      </div>
    }
    @if (control.errors!['email']) {
      <div class="help is-danger">
        Invalid email address
      </div>
    }
  }
</div>
